body {
  font-family: Arial;
}

button {
  transition: transform 0.3s;
}

button:hover {
  transform: scale(110%) rotate(-2deg);
}

button:active {
  transform: scale(100%) rotate(0deg);
}

div {
  border: 1px solid rebeccapurple;
}
